################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/Fatturazione/FileContentIndex
/.vs/fatturazione
/Fatturazione/obj/Debug/net8.0/Fatturazione.AssemblyInfo.cs
/Fatturazione/obj/Debug/net8.0/Fatturazione.AssemblyInfoInputs.cache
/Fatturazione/obj/Debug/net8.0/Fatturazione.assets.cache
/Fatturazione/obj/Debug/net8.0/Fatturazione.GeneratedMSBuildEditorConfig.editorconfig
/Fatturazione/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
