################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/Fatturazione/FileContentIndex
/Fatturazione/obj/Debug/net8.0
/.vs/ProjectEvaluation
/.vs
/Fatturazione/obj/Debug/net8.0/Fatturazione.AssemblyInfo.cs
/Fatturazione/obj/Debug/net8.0/Fatturazione.AssemblyInfoInputs.cache
/Fatturazione/obj/Debug/net8.0/Fatturazione.assets.cache
/Fatturazione/obj/Debug/net8.0/Fatturazione.GeneratedMSBuildEditorConfig.editorconfig
